#pragma once
#error "Replace this example Broadcast_Code with random bytes, then remove this line"
#define ECAST_BROADCAST_CODE_BYTES { \
    0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, \
    0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00  \
}
